name: CI - Backend & Frontend

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  backend:
    name: Build & test backend (Spring Boot)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build & test with Maven
        run: mvn -B clean verify
        # si ton pom.xml est à la racine du repo, on laisse comme ça.
        # sinon ajoute: working-directory: ./<dossier-backend>

      - name: Archive JAR
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: |
            target/*.jar

  frontend:
    name: Build frontend (Angular)
    runs-on: ubuntu-latest
    needs: backend

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Install dependencies
        run: npm ci

      # Optionnel : on ajoutera les tests plus tard si tu veux
      # - name: Run tests
      #   run: npm test

      - name: Build Angular app
        run: npm run build -- --configuration=production

      - name: Archive frontend build
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: |
            frontend/dist/**
